<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <title>Mandarin Phrasebooks</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <h3>
            <a href="../%(index_version)s.html">&lt; Back to All Books, Display Settings</a>
        </h3>

        <h3>%(book_title)s</h3>

        <ul>
            %(phrases_links)s
        </ul>

        <br><br><br><br><br><br>
    </body>
</html>
